body {
    background-color: #005380;
}

#gameResultPara {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    text-align: center;
}

#gameTitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    text-align: center;
}